<!DOCTYPE html>

<html>

    <head>
        <title>Todo List</title>
          <style>
        /* Apply some basic styles to the page */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        h1 {
            text-align: center;
            font-family: Georgia, serif;
            padding:20px;
            color: purple;
            margin-top: 40px;
            margin-bottom: 30px;
            margin-left:30px;
            margin-right:30px;
            background-color:GreenYellow ;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            display: flex;
            align-items: start;
            justify-content: space-evenly;
            padding: 10px;
            border-radius: 5px;
            background-color: Aquamarine ;
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            margin-left: 30px;
            margin-right:30px;
            margin-bottom:10px;
        }

        li a {
            font-size: 1.2em;
            margin-right: 10px;
            /* color: #007bff; */
        }

        li a:hover {
            text-decoration: none;
        }

        li a:first-child {
            color: red;
        }

        li a:last-child {
            color: blue;
        }

        form {
            margin-top: 20px;
            text-align: center;
        }

        label {
            display: block;
            
            font-family:Georgia, serif;
            margin-bottom: 10px;
            font-size: 1.5em;
            color: Black;
        }

        input[type="text"] {
            font-size: 1.3em;
            padding: 10px;
            border-radius: 5px;
            border-color: black;
            background-color: #f4f4f4;
            width: 60%;
            margin-right: 10px;
        }

        input[type="submit"] {
            font-size: 1.2em;
            padding: 10px 20px;
            border-radius: 5px;
            background-color: #007bff;
            color: white;
            border: none;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #0062cc;
        }
    </style>
    </head>
 
    <body>
        <h1>Add Your Daily Task</h1>
        <ul>
            <% todolist.forEach(function(todo, index) { %>
            <li>
                <a href="/todo/delete/<%= index %>">✘</a>
                <a href="/todo/<%= index %>">✎</a>
                <%- todo %>
            </li>
            <% }); %>
        </ul>

        <form action="/todo/add/" method="post">
            <p>
                <label for="newtodo">What shoud I do?</label>
                <input type="text" name="newtodo" id="newtodo" autofocus />
                <input type="submit" value="Add" />
            </p>
        </form>
    </body>

</html>
